@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#MainContainer {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#MainContainer * {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

.Space {
    width: 0.5rem;
}



.Terminal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: hidden;
}


.TerminalSection {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}


.TerminalElement {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.TerminalInput {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.TerminalInput * {
    margin: 0.2rem 0;
}

.TerminalCursor {
    animation: cursorAnimation 1s infinite;
}

@keyframes cursorAnimation {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}


.TerminalHistory > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.TerminalHistory > div > * {
    margin: 0.2rem 0;
}





.cursor-c {color: #ffffff;}
.cursor-b {background-color: #ffffff;}
.text-c {color: #ffffff;}
.text-b {background-color: #ffffff;}
.hint-c {color: #666666;}
.hint-b {background-color: #666666;}
.primary-c {color: #ff0066;}
.primary-b {background-color: #ff0066;}
.secondary-c {color: #7c4dff;}
.secondary-b {background-color: #7c4dff;}
.success-c {color: #00e676;}
.success-b {background-color: #00e676;}
.info-c {color: #03a9f4;}
.info-b {background-color: #03a9f4;}
.warning-c {color: #ffc107;}
.warning-b {background-color: #ffc107;}
.error-c {color: #f44336;}
.error-b {background-color: #f44336;}
.background-c {color: #000000;}
.background-b {background-color: #000000;}





*:focus {
    outline: none;
}

button {
    z-index: 300;
}